
@font-face {
    font-family: KaushanScript-Regular;
    src: url(KaushanScript-Regular.ttf);
}
@font-face {
    font-family: Montserrat-Regular;
    src: url(Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(Montserrat-Bold.ttf);
}
@font-face {
    font-family: Roboto-Regular;
    src: url(Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Italic;
    src: url(Roboto-LightItalic.ttf);
}